@use '../extension' as *;
@use '../extension/variables' as var;

html,
body {
  height: 100%;
}

body {
  padding-right: var(--scrollbar-width, 0);

  // overflow: clip;
  // overflow-y: scroll;
  font-family: var(--font-ms-sans-bold);
  font-feature-settings: 'palt';
  color: var(--base-color);
  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--teal);

  &.-scroll-lock {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
  }
}

main {
  min-height: 100dvh;
}

footer {
  // position: sticky;
  // top: 100vh;
}

summary {
  cursor: pointer;
}

.js-focus-visible .focus-visible {
  outline: currentcolor px(2) dashed;
  outline-offset: px(2);
}

.pcOnly {
  display: none;

  @include mq-gte(md) {
    display: block;
  }
}

.spOnly {
  @include mq-gte(md) {
    display: none;
  }
}

.srOnly {
  @extend %visually-hidden;
}

[tabindex='-1'] {
  @include focus {
    outline: none;
  }
}

dialog {
  position: fixed;
  inset: 0;
  transition: opacity duration(0.001) $power4-out;

  &:not(.open) {
    opacity: 0;
  }

  &[open] {
    overflow-y: scroll;
  }

  &::backdrop {
    background: initial;
  }
}

.page-transition {
  // transition-delay: var(--page-transition-duration) * 10;
  // transition: all var(--page-transition-duration);
  transition-delay: calc(var(--page-transition-duration));
}
