@font-face {
  font-family: "MS_Sans_Serif";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/ms_sans_serif.woff") format("woff");
  src: url("/assets/fonts/ms_sans_serif.woff2") format("woff2");
}

@font-face {
  font-family: "MS_Sans_Serif_Bold";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/ms_sans_serif_bold.woff") format("woff");
  src: url("/assets/fonts/ms_sans_serif_bold.woff2") format("woff2");
  font-display: block;
}
