// @font-face {
//   font-family: Switzer-Variable;
//   font-style: normal;
//   font-weight: 100 900;
//   src:
//     url('/assets/fonts/switzer/Switzer-Variable.woff2') format('woff2'),
//     url('/assets/fonts/switzer/Switzer-Variable.woff') format('woff'),
//     url('/assets/fonts/switzer/Switzer-Variable.ttf') format('truetype');
//   font-display: swap;
// }
