// // Linear
$linear: cubic-bezier(0, 0, 1, 1);

// // Sine
$sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
$sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
$sine-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// // Power1 (Quad)
$power1-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$power1-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$power1-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// // Power2 (Cubic)
$power2-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$power2-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);

// // Power3 (Quart)
$power3-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$power3-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$power3-in-out: cubic-bezier(0.77, 0, 0.175, 1);

// // Power4 (Quint)
$power4-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$power4-out: cubic-bezier(0.23, 1, 0.32, 1);
$power4-in-out: cubic-bezier(0.86, 0, 0.07, 1);

// // Circ
$circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
$circ-in-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// // Expo
$expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$expo-out: cubic-bezier(0.19, 1, 0.22, 1);
$expo-in-out: cubic-bezier(1, 0, 0, 1);
