@use 'sass:map';
@use 'sass:meta';
@use 'functions' as *;
@use './variables' as var;
@use './eases' as *;

$break-points: (
  'sm': 640,
  'md': 768,
  'lg': 1024,
  'xl': 1280,
) !default;

@function get-break-point($_break-point) {
  $break-point: meta.inspect($_break-point);

  @if map.has-key($break-points, $_break-point) {
    $break-point: map.get($break-points, $_break-point);
  } @else if meta.type-of($_break-point) != 'number' {
    @error '#{ $_break-point } is not a number.';
  } @else {
    $break-point: $_break-point;
  }

  @return $break-point;
}

@mixin mq-screen($value) {
  @media screen and ($value) {
    @content;
  }
}

@mixin mq-gt($_break-point, $unit: px) {
  $break-point: get-break-point($_break-point);

  @if $unit == 'px' {
    @media screen and (width > max(#{$break-point}#{$unit}, #{calc($break-point / 16)}rem)) {
      @content;
    }
  } @else {
    @media screen and (width > #{$break-point}#{$unit}) {
      @content;
    }
  }
}

@mixin mq-gte($_break-point, $unit: px) {
  $break-point: get-break-point($_break-point);

  @if $unit == 'px' {
    @media screen and (width >= max(#{$break-point}#{$unit}, #{calc($break-point / 16)}rem)) {
      @content;
    }
  } @else {
    @media screen and (width >= #{$break-point}#{$unit}) {
      @content;
    }
  }
}

@mixin mq-lt($_break-point, $unit: px) {
  $break-point: get-break-point($_break-point);

  @if $unit == 'px' {
    @media screen and (width < max(#{$break-point}#{$unit}, #{calc($break-point / 16)}rem)) {
      @content;
    }
  } @else {
    @media screen and (width < #{$break-point}#{$unit}) {
      @content;
    }
  }
}

@mixin mq-lte($_break-point, $unit: px) {
  $break-point: get-break-point($_break-point);

  @if $unit == 'px' {
    @media screen and (width <= max(#{$break-point}#{$unit}, #{calc($break-point / 16)}rem)) {
      @content;
    }
  } @else {
    @media screen and (width <= #{$break-point}#{$unit}) {
      @content;
    }
  }
}

@mixin mq-between($_min, $_max, $unit: px) {
  $min: get-break-point($_min);
  $max: get-break-point($_max);

  @if $unit == 'px' {
    @media screen and (max(#{$min}#{$unit}, #{calc($min / 16)}rem) < width <= max(#{$max}#{$unit}, #{calc($max / 16)}rem)) {
      @content;
    }
  } @else {
    @media screen and (#{$min}#{$unit} <= width < #{$max}#{$unit}) {
      @content;
    }
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin focus() {
  &:focus-visible {
    @content;
  }
}

@mixin text($type: 'root') {
  @if $type == 'root' {
    line-height: 1.8;
  } @else if $type == 'sm' {
    font-size: rem(12);
  }
}

@mixin ms-sans($weight: 'default') {
  @if $weight == 'default' {
    font-family: var(--font-ms-sans);
    font-weight: 400;
  } @else if $weight == 'bold' {
    font-family: var(--font-ms-sans-bold);
    font-weight: 700;
  }
}

@mixin shadow($type: 'default') {
  @if $type == 'default' {
    box-shadow:
      inset px(calc(var(--shadow-width) * -1)) px(calc(var(--shadow-width) * -1)) var(--black),
      inset px(calc(var(--shadow-width) * 1)) px(calc(var(--shadow-width) * 1)) var(--white),
      inset px(calc(var(--shadow-width) * -2)) px(calc(var(--shadow-width) * -2)) var(--gray-dark),
      inset px(calc(var(--shadow-width) * 2)) px(calc(var(--shadow-width) * 2)) var(--gray-light);
  } @else if $type == 'preferred' {
    // box-shadow:
  } @else if $type == 'pressed' {
    box-shadow:
      inset px(calc(var(--shadow-width) * -1)) px(calc(var(--shadow-width) * -1)) var(--white),
      inset px(calc(var(--shadow-width) * 1)) px(calc(var(--shadow-width) * 1)) var(--black),
      inset px(calc(var(--shadow-width) * -2)) px(calc(var(--shadow-width) * -2)) var(--gray-medium),
      inset px(calc(var(--shadow-width) * 2)) px(calc(var(--shadow-width) * 2)) var(--gray-dark);
  }
}
