---

---

<header class="container" data-header>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/news">News</a>
</header>

<style lang="scss">
  @use '@/styles/extension' as *;

  .container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    // height: 100px;
    background-color: white;
  }
</style>

<script>
  class Header {
    header = document.querySelector<HTMLElement>('[data-header]');

    constructor() {
      this.init();
    }

    init = () => {
      this.resizeObserverInit();
    };

    resizeObserverInit = () => {
      if (!this.header) return;
      const updateHeaderHeight = (entries: ResizeObserverEntry[]) => {
        const entry = entries[0];
        const height = entry.borderBoxSize[0].blockSize;
        document.documentElement.style.setProperty('--header-height', `${height}px`);
      };

      const resizeObserver = new ResizeObserver(updateHeaderHeight);
      resizeObserver.observe(this.header);
    };
  }

  new Header();
</script>
