---
import '@/styles/globals.scss';

type Props = {
  title?: string;
  class?: string;
};

const { title, class: className, ...rest } = Astro.props;

const pageTitle = title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <main class={className} {...rest}>
      <slot />
    </main>
  </body>
</html>
